body{
    background-color: royalblue;
    padding-top: unset;
    background-image: url("https://www.thoughtco.com/thmb/bgkJMYfDeLepx6EZfcLH9hZsRqY=/4032x3024/filters:no_upscale():max_bytes(150000):strip_icc()/close-up-of-calculator-over-white-background-932504044-5b47a91246e0fb00549b09f7.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:yellow
}
button
{
    width: 80px;
    height: 40px;
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
span
{
    color: white;
    background-color: black;
}
h1
{  
text-align: center;  
padding: 23px;  
background-color: skyblue;  
color: white;  
}  
#clear
{  
width: 282px;  
border: 3px solid gray;  
    border-radius: 3px;  
    padding: 20px;  
    background-color: red;  
}  
.formstyle  
{        
width: 300px;  
height: 530px;  
margin: auto;  
border: 3px solid skyblue;  
border-radius: 5px;  
padding: 20px;  
}  
input  
{  
width: 20px;  
background-color: green;  
color: white;  
border: 3px solid gray;  
    border-radius: 5px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 15px;  
}  
#calc
{  
width: 220px;  
border: 5px solid black;  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto;  
} 